<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">patient name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">patient id</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 cl-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">contact number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">date of appoinmet</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">patient image</label>
                    <input type="file" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 cl-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">doctor name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 cl-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <a href="" class="btn btn-success">enter</a>
                </div>
            </div>
        </div>
    </div>
</div>